.input {
  color: rgb(203, 11, 210);
  font-weight: 600;
  font-size: 1rem;
  border: none;
  outline: none;
  height: 1.4rem;
  padding-left: 8px;
  border-radius: 4px;
  width: 90%;
}

.input_passive {
  background-color: rgb(235, 230, 230);
}

.input_passive:hover {
  background-color: white;
}

.input_active {
  color: rgb(101, 0, 104);
}

