.profilePage {
  display: flex;
  flex-direction: column;

  row-gap: 1em;
  column-gap: 1em;
  align-items: center;

  padding: 1em 1em;
}

.profilePage__item {
  /* border: var(--main-border);
  border-radius: 5px; */
}