.profilePage {
  display: flex;
  flex-direction: column;

  row-gap: 1em;
  column-gap: 1em;
  align-items: center;

  padding: 1em 1em;
}

@media (min-width: 992px) {
  .profilePage {
    align-items: stretch;
  }

}