.profilePage {
  display: grid;
  row-gap: 1em;

  padding: 1em 2em;
}

.profilePage__item {
  display: flex;
  flex-direction: column;
  justify-content: start;

  padding: 1.4em;

  border: var(--main-border);
  border-radius: 5px;
}