.messages__body {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    height: 360px;
    overflow-y: auto;
}

.downButton__container {
    position: relative;
}

.downButton {
    position: absolute;
    top: -52px;
    right: 2em;
}