.input {
  border: var(--main-border);
  border-radius: 6px;
  height: 2em;
  width: 100%;
  padding: 4px 1em;
  font-size: 1.1em;
  font-weight: 500;
}

.input:hover,
.input:focus {
  border: 1px solid var(--blue);
}

.input_passive {
}

.input_passive:hover {
}

.input_active {
}

