.formWrapper {
  background-color: var(--page-bg);
}

.mainRow {
  display: grid;
  grid-auto-flow: column;
}

.about,
.contacts {
  border: var(--main-border);
  padding: 1em 1em 1em 2em;
}

.about__title,
.contacts__title {
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30%;
  margin-bottom: 1em;
}

.bottomRow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileForm__errorOnSubmit {
  margin-top: 1.2em;
  color: var(--error-color);
  font-weight: 500;
  font-size: 1.05em;
}

.profileForm__button {
  margin-top: 1.6em;
}

