.header {
	grid-area: header;
  background-color: darkolivegreen;
}

.header img {
  height: 60px;
  width: 100px;
}

.loginBlock {
  float: right;
  color: white;
  font-weight: 600;
  padding: 10px;
}

.loginBlock a {
  color: white;
  font-weight: 600;
}