/* Header */

.header {
  position: fixed;

  width: 100%;

  background-color: var(--dark-bg);
  color: var(--header-text-color);
  letter-spacing: normal;

  z-index: 20;
}

.container {
  margin: 0 var(--container-margin-x);
  padding: 0 2em;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 70px;
}

.header__logo {
  color: var(--header-text);
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  transition: all 0.3s ease;
}

.header__logo:hover {
  opacity: 0.8;
}

.header__logo strong {
  font-weight: 700;
}

.header__block {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  align-items: center;
}

@media (min-width: 478px) {
  .header__block {
    column-gap: 20px;
  }
}


/* Применится при выводе login page, когда функционал
App не будет доступен */

.header__block._unregistered {
  visibility: hidden;
}

.header__avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
}

.avatar {
  border-radius: 50%;
}

.avatarToolpTip {
  position: absolute;
  right: -1em;
  bottom: -66px;

  width: max-content;
  padding: 0.2em 0.6em;
  border-radius: 4px;

  font-size: 0.8em;
  background-color: rgba(0, 0, 0, 0.4);
  transform: scale(0);
  transition: all 0.2s ease;
}

.header__avatar:hover .avatarToolpTip {
  transform: scale(1);
}

.header__authBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  font-size: 1.2em;
}

@media (min-width: 478px) {
  .header__authBlock {
    column-gap: 20px;
  }
}

.header__authBlock button {
  transition: all 0.3s ease;
}

.header__authBlock button:hover {
  opacity: 0.8;
}


/* Burger */

.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 18px;
  cursor: pointer;
}

.burger span,
.burger::before,
.burger::after {
  position: absolute;
  left: 0;
  height: 10%;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: var(--white);
}

.burger::before,
.burger::after {
  content: "";
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

.burger._active span {
  transform: scale(0) translate(0px, -50%);
}

.burger._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}

.burger._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

@media (max-width: 767px) {
  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
}

.burgerMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: flex-start;
}

.menuWrapper {
  margin-top: 76px;
  margin-left: 6px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
}