/* Chat Page */

.wrapper {
    padding: 0.5em;
}

.body {
    margin: 0 auto;
    border: var(--main-border);
    border-radius: 6px;
    max-width: 440px;
}

.messagesContainer {
    margin: 1em;
}

.formContainer {
    margin: 1em;
}