.profileInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
  column-gap: 1em;
}

.profileInfo__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--main-border);
  border-radius: 5px;

  padding: 1em;

  width: 270px;
}

.imgContainer {
  width: 200px;
  position: relative;
}

.avatar {
  border-radius: 20px;
}

.edidAvatarBlock {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 33%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0 0 20px 20px;
  display: none;
  justify-content: center;
  align-items: center;
  column-gap: 1.4em;
}

.photoIcon {
  width: 40px;
}

.photoIcon:hover {
  opacity: 0.7;
}

.photoIcon:active {
  position: relative;
  top: 1px;
}

.imgContainer:hover .edidAvatarBlock {
  display: flex;
}

.fileInput {
  display: none;
}

.fullName {
  text-align: center;
  padding: 0.2em;
}

.fullName h2 {
  font-size: 1.2em;
  line-height: 1.7;
  font-weight: 700;
}

/* .status {} */

.status__title {
  padding-left: 1em;
  margin-bottom: 0.4em;
}

/* .status__text {

} */

@media (min-width: 992px) {
  .profileInfoWrapper {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    column-gap: 2em;
  }

  .profileInfo__item {
    width: 100%;
  }

  .mainInfo {
    max-width: 300px;
  }

  .aboutMe {
    max-width: 400px;
  }
}