.profileInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
  column-gap: 1em;
}

@media (min-width: 992px) {
  .profileInfoWrapper {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    column-gap: 2em;
  }
}

.profileInfo__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--main-border);
  border-radius: 5px;

  padding: 1em;

  width: 100%;
}

@media (min-width: 992px) {
  .mainInfo {
    max-width: 300px;
  }
  .aboutMe {
    max-width: 400px;
  }
}

.mainInfo {}

.aboutMe {}

.imgContainer {
  width: 200px;
}

.avatar {
  border-radius: 20px;
}

.fullName {
  text-align: center;
  padding: 0.2em;
}

.fullName h2 {
  font-size: 1.2em;
  line-height: 1.7;
  font-weight: 700;
}

/* .status {} */

.status__title {
  padding-left: 1em;
  margin-bottom: 0.4em;
}

/* .status__text {

} */