.profileInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
  column-gap: 1em;
}

.profileInfo__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--main-border);
  border-radius: 5px;

  padding: 1em;

  width: 100%;
}

.mainInfo {
  
}

.aboutMe {
}

.imgContainer {
  width: 200px;
}

.avatar {
  border-radius: 20px;
}

.fullName {
  text-align: center;
  padding: 0.2em;
}

.fullName h2{
  font-size: 1.2em;
  line-height: 1.7;
  font-weight: 700;
}

/* .status {} */

.status__title {
  padding-left: 1em;
  margin-bottom: 0.4em;
}

/* .status__text {

} */

