.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 100%;
}

.header {
  width: 100%;
  height: 70px;
  position: absolute;

  top: 0;
  left: 0;
}

/* .mainRow {
} */

.mainRow__container {
  margin: 0 var(--container-margin-x);
}

.mainRow__wrapper {
  display: flex;
  column-gap: 20px;

  height: fit-content;
  margin-top: 70px;
}


.aside {
  min-width: 240px;
}

.main {
  background-color: var(--white);
  width: 100%;
}

.footer {
  height: 70px;
  margin-top: auto;
}

@media (max-width: 767px) {
  .aside {
    display: none;
  }
}