.formWrapper {
  background-color: var(--page-bg);
}

.mainRow {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.about,
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--main-border);
  border-radius: 6px;
  padding: 1em 0.5em;
  margin: 0 0.5em;
}

.about__title,
.contacts__title {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 1em;
}

.bottomRow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileForm__errorOnSubmit {
  margin-top: 1.2em;
  color: var(--error-color);
  font-weight: 500;
  font-size: 1.05em;
}

.profileForm__button {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}